{% extends 'base.html' %}
{% load static %}
{% block body %}

	<!-- Products -->
	<div class="total-ads main-grid-border">
		<div class="container">
			<div class="select-box">
				<div class="select-city-for-local-ads ads-list">
					<label>Select your city to see local ads</label>
						<select>
												<optgroup label="Popular Cities">
													<option selected style="display:none;color:#eee;">Entire USA</option>
													<option>Birmingham</option>
													<option>Anchorage</option>
													<option>Chicago</option>
													<option>Indianapolis</option>
												</optgroup>			
													<optgroup label="Wyoming">
														<option>Cheyenne</option>
														<option>Casper</option>
														<option>Laramie</option>
														<option>Gillette</option>
														<option>Rock Springs</option>
													</optgroup>			
												</optgroup>
			            </select>
				</div>
				<div class="browse-category ads-list">
					<label>Browse Categories</label>
					<select class="selectpicker show-tick" data-live-search="true">
					  <option data-tokens="Mobiles">All</option>
					  <option data-tokens="Mobiles">Mobiles</option>
					  <option data-tokens="Electronics  Appliances">Electronics & Appliances</option>
					  <option data-tokens="Cars">Cars</option>
					  <option data-tokens="Bikes">Bikes</option>
					  <option data-tokens="Furniture">Furniture</option>
					  <option data-tokens="Real Estate">Real Estate</option>
					</select>
				</div>
				<div class="search-product ads-list">
					<label>Search for a specific product</label>
					<div class="search">
						<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class="form-control input-lg" placeholder="Buscar" />
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="all-categories">
				<h3> Select your category and find the perfect ad</h3>
				<ul class="all-cat-list">
				{% for category in categorylist %}
					<li><a href="{% url 'products:product_list_category' category.slug %}">{{category}} <span class="num-of-ads">{{category.total_products }}</span></a></li>
					{% endfor %} 
				</ul>
			</div>
			<ol class="breadcrumb" style="margin-bottom: 5px;">
			  <li><a href="/">Home</a></li>
			  <li class="active"><a href="{% url 'product:product_list' %}">All Ads</a></li>
			  {% if category %}
					 <li class="active">{{category}}</li>	
			  {% endif %} 
			</ol>
			<div class="ads-grid">
				<div class="side-bar col-md-3">
					<div class="search-hotel">
					<h3 class="sear-head">search</h3>
					<form method="GET" action="{% url 'product:product_list' %}">
						<input type="text" value="Product name..." name= "q" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				
				
								<li>
									                
									<div id="slider-range"></div>							
										<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
									</li>			
							</ul>
							<!---->
							<script type="text/javascript" src="js/jquery-ui.js"></script>
							<script type='text/javascript'>//<![CDATA[ 
							$(window).load(function(){
							 $( "#slider-range" ).slider({
										range: true,
										min: 0,
										max: 9000,
										values: [ 50, 6000 ],
										slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
										}
							 });
							$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

							});//]]>  

							</script>
							
				</div>
				
				<div class="ads-display col-md-9">
					<div class="wrapper">					
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					  <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
					
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								<div class="clearfix"></div>
							<ul class="list">
							{% for p in productlist %}
								
								<a href="{% url 'product:product_detail' p.slug %}">
									<li>
									<img src="{{p.image.url}}" title="" alt="" />
									<section class="list-left">
									<h5 class="title">{{p.name}}</h5>
									<span class="adprice">{{p.price}}</span>
									<p class="catpath"> cars » {{p.brand}}</p>
									</section>
									<section class="list-right">
									<span class="date">{{p.created}}</span>
									
									</section>
									<div class="clearfix"></div>
									</li> 
								</a>
							
							{% endfor %}
							</ul>
						</div>
							</div>
						</div>
						{% if productlist.has_other_pages %}
				    <ul class="pagination pagination-sm">
					{% if productlist.has_previous %}
							<li><a href="?page={{ productlist.previous_page_number }}">Prev</a></li>
							{% else %}
							<li class='disabled'></li>
							{% endif  %}
							{% for pages in productlist.paginator.page_range %}
							{% if productlist.number == pages %}
							<li><a href="#">{{pages}}</a></li>
							{% else %}
							<li><a href="?page={{pages}}">1</a></li>
 							{% endif %}
							{% endfor %}
							{% if productlist.has_next %}
							<li><a href="?page={{productlist.next_page_number}}">Next</a></li>
							{% else %}
							<li class='disabled'></li>
							{% endif %}
						</ul>
						{% endif %}
					  </div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>
	<!-- // Products -->
	{% endblock body %} 